@CHARSET "UTF-8";

#selectBox {
	width: 241px;
	height: 1em;
}

input.ui-combobox-input {
	margin: 0px;
}

#repositoryInput {
	width: 221px;
	height: 1.2em;
	margin-left: -244px;
	border: 1px white;
}

#initialInput {
	width : 235px;
	height : 1em;
}

#fileName {
	width : 235px;
	height : 1em;
}

.formLabel {
	display: inline-block;
	width: 85px;
	text-align: center;
}

.bodyOutline {
	display: block;
	width: 450px;
	height: 200px;
	margin-left: 20%;
	margin-top: 10%;
	border: 2px solid rgb(207, 207, 207);
	border-radius: 10px;	
	background : white;
}

.fieldcontain  {
	margin-bottom: 5px;
}

.save {
	width: 85px;
}

.formLayout {
	margin: 10%;
}

body {
	background: rgb(223, 229, 236);
}

a.ui-button {
	height: 24px;
	width: 12px;
	position: fixed;
	padding-top: 0px;
}
